body{
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

nav {
  padding: 20px 0px 20px 0px;
  text-align: center;
  width: 800px; 
  box-shadow: 5px 10px 15px #888888;

}
main {
  text-align: center;
  width: 800px;
  height: 600px; 
  box-shadow: 5px 10px 15px #888888;

}

form {
  margin-top: 50px;
}

a:link, a:visited{
  text-decoration: none;
  color: black;
}

button {
  border: none;
  color: white;
  text-align: center;
  background-color: rgb(81, 124, 189);
  padding: 10px 20px
}


